<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-file-text-o"></i>Awards</h2>

                <div class="item">
                    <b>Mo Sha</b>, Jianan Wu, and Zhiyuan Wu (Contributed Equally).<br>
                    <b>First Prize</b>, the 2012 ACM/ICPC Asia Regional Contest.<br>
                </div><!--//item-->

                <div class="item">
                    <b>The CCF Outstanding Undergraduate Award</b>, 2012.
                </div><!--//item-->

            </section><!--//section-->
