<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I am a Ph.D. student (start from 2017 Fall) at the Database Lab, School of Computing, National University of Singapore. My undergraduate degree is Computer Science and Technology from Harbin Institute of Technology, China in 2014. I am currently interested in Dynamic Graph Management and Analytics on Parallel Processors, especially for GPU accelerators.</p>
</div><!--//summary-->
</section><!--//section-->
