<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I am a Ph.D. student (start from 2017 Fall) at the Database Lab, School of Computing, National University of Singapore, with the supervision of Professor <a href="http://www.comp.nus.edu.sg/~tankl/" >Tan Kian-Lee</a>. My undergraduate degree is Computer Science and Technology from Harbin Institute of Technology, China in 2014. I am currently interested in Dynamic Graph Management and Analytics on Parallel Processors, especially for GPU accelerators. Please click <a href="./resume_en.pdf" >here</a> for my pdf resume.</p>
</div><!--//summary-->
</section><!--//section-->
