 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Eng. in Computer Science</h4>
    <h5 class="meta">Harbin Inst. of Technology</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Ph.D. in Computer Science</h4>
    <h5 class="meta">National Univ. of Singapore</h5>
    <div class="time">2017 - Current</div>
</div><!--//item-->
</div><!--//education-container-->
