<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">2016.6 - 2017.6</div>
                        </div><!--//upper-row-->
                        <div class="company">Database Lab SoC@NUS, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Section 1.</p>
                        <p>Section 2.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Officer</h3>
                            <div class="time">2015.6 - 2016.6</div>
                        </div><!--//upper-row-->
                        <div class="company">Rolls-Royce@NTU Corporate Lab, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Section 1.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Algorithm Engineer</h3>
                            <div class="time">2014.7 - 2015.5</div>
                        </div><!--//upper-row-->
                        <div class="company">Alibaba, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Section 1.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern</h3>
                            <div class="time">2013.7 - 2013.11</div>
                        </div><!--//upper-row-->
                        <div class="company">Google, Shanghai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Section 1.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
