<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-file-text-o"></i>Publications</h2>

                <div class="item">
                    <b>Mo Sha</b>, Yuchen Li, Bingsheng He, and Kian-Lee Tan.<br>
                    <b>Accelerating Dynamic Graph Analytics on GPUs.</b>
                    [<a href="http://www.vldb.org/pvldb/vol11/p107-sha.pdf" >PDF</a>]
                    [<a href="https://dl.acm.org/citation.cfm?id=3151122" >ACMDL</a>]
                    [<a href="https://arxiv.org/pdf/1709.05061.pdf" >Ext</a>]
                    [<a href="https://github.com/desert0616/gpma_bfs_demo" >Code</a>]<br>
                    <i>International Conference on Very Large Data Bases (<b>VLDB</b>)</i>, 2018.
                </div><!--//item-->

                <div class="item">
                    Wentian Guo, Yuchen Li, <b>Mo Sha</b>, and Kian-Lee Tan.<br>
                    <b>Parallel Personalized Pagerank on Dynamic Graphs.</b>
                    [<a href="http://www.vldb.org/pvldb/vol11/p93-guo.pdf" >PDF</a>]<br>
                    <i>International Conference on Very Large Data Bases (<b>VLDB</b>)</i>, 2018.
                </div><!--//item-->

            </section><!--//section-->
