<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-file-text-o"></i>Publications</h2>

                <div class="item">
                    <b>Mo Sha</b>, Yuchen Li, Bingsheng He, and Kian-Lee Tan.<br>
                    <b>Accelerating Dynamic Graph Analytics on GPUs</b><br>
                    International Conference on Very Large Data Bases (VLDB), to appear, 2018.
                </div><!--//item-->

                <div class="item">
                    Wentian Guo, Yuchen Li, <b>Mo Sha</b>, and Kian-Lee Tan.<br>
                    <b>Parallel Personalized Pagerank on Dynamic Graphs</b><br>
                    International Conference on Very Large Data Bases (VLDB), to appear, 2018.
                </div><!--//item-->

            </section><!--//section-->
